# Virtual environment
STARFlow/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/



# OS files
.DS_Store
Thumbs.db

# Thesis literature (PDFs, books, papers)
Literature/

#figures
figs/

tarflow/

pretrained_components/

.gitmodules/
